In [ ]:
with open ('text.txt', mode="w") as accounts:
  accounts.write ('1 Nguyen Van A 8.0\n')
  accounts.write ('2 Le Thi B 6.8\n')

In [ ]:
with open ('text1.txt', mode='w') as accounts:
  print('7:00 Nguyen Van A', file = accounts)
  print('7:01 Le Thi B', file = accounts)

In [ ]:
with open ('text.txt', mode="r") as accounts:
  print (f'{'name':<20}{'score':>20}')
  for record in accounts:
    name, score = record.split()
    print(f'{name:<20}{score:>20}')

SyntaxError: ignored

In [ ]:
import pandas as pd
url = 'abc.csv'
dataframe = pd.read_csv(url)
dataframe.head(4)

   Stt        MSSV              Ho va Ten  Diem
0  1.0  20104004.0         Nguyen Gia Dat   9.4
1  2.0  20104049.0  Nguyen Tran Thanh Nhu   9.5
2  3.0  20104028.0        Truong Quoc Hau   9.6
3  4.0  20104063.0  Nguyen Thi Thuy Trang   9.7

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe ['Name'] = ['Nguyen Thi Thuy Trang','Nguyen Tran Thanh Nhu']
dataframe ['Student ID'] = [20104063,20104049]
dataframe ['Score']=[9.0,9.5]
dataframe

                    Name  Student ID  Score
0  Nguyen Thi Thuy Trang    20104063    9.0
1  Nguyen Tran Thanh Nhu    20104049    9.5

In [ ]:
import pandas as pd
url = '123.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)

   Stt      MSSV              Ho va Ten  Diem Khoa
0    1  20104004         Nguyen Gia Dat   9.2  CKM
1    2  20104049  Nguyen Tran Thanh Nhu   9.5  CKM
2    3  20104028        Truong Quoc Hau   9.6  CKM
3    4  20104063  Nguyen Thi Thuy Trang   9.7  CKM
4    5  20104039           Le Khanh Lam   8.8  CKM
5    6  20104042      Nguyen Thi Tra Mi   8.2  CKM
6    7  20104047       Tran Thi My Ngoc   8.4  CKM
7    8  20104060     Nguyen Thi My Thuy   8.6  CKM
8    9  20104037           Le Hoang Kha   7.5  CKM
9   10  20104070        Mai Thi Tri Tue   7.7  CKM

In [ ]:
import pandas as pd
url = '123.csv'
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe.iloc[0:8]

   Stt      MSSV              Ho va Ten  Diem Khoa
0    1  20104004         Nguyen Gia Dat   9.2  CKM
1    2  20104049  Nguyen Tran Thanh Nhu   9.5  CKM
2    3  20104028        Truong Quoc Hau   9.6  CKM
3    4  20104063  Nguyen Thi Thuy Trang   9.7  CKM
4    5  20104039           Le Khanh Lam   8.8  CKM
5    6  20104042      Nguyen Thi Tra Mi   8.2  CKM
6    7  20104047       Tran Thi My Ngoc   8.4  CKM
7    8  20104060     Nguyen Thi My Thuy   8.6  CKM

In [ ]:
import pandas as pd
url = '123.csv'
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe = dataframe.set_index(dataframe['Ho va Ten'])
dataframe.loc['Nguyen Thi Thuy Trang']

Stt                              4
MSSV                      20104063
Ho va Ten    Nguyen Thi Thuy Trang
Diem                           9.7
Khoa                           CKM
Name: Nguyen Thi Thuy Trang, dtype: object

In [ ]:
import pandas as pd
url = '456.csv'
dataframe = pd.read_csv(url)
#dataframe.head(10)
dataframe = dataframe.set_index(dataframe['Ho va Ten'])
dataframe.loc['Nguyen Thi Thuy Trang']

                       Stt      MSSV              Ho va Ten  Diem Khoa   Nam
Ho va Ten
Nguyen Thi Thuy Trang    4  20104063  Nguyen Thi Thuy Trang   9.7  CKM  2020
Nguyen Thi Thuy Trang   15  20104036  Nguyen Thi Thuy Trang   7.1  CKM  2021

In [ ]:
import pandas as pd
url = '456.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['Khoa']=='CKM'].head(5)

   Stt      MSSV              Ho va Ten  Diem Khoa   Nam
0    1  20104004         Nguyen Gia Dat   9.2  CKM  2020
1    2  20104049  Nguyen Tran Thanh Nhu   9.5  CKM  2020
2    3  20104028        Truong Quoc Hau   9.6  CKM  2020
3    4  20104063  Nguyen Thi Thuy Trang   9.7  CKM  2020
4    5  20104039           Le Khanh Lam   8.8  CKM  2020

In [ ]:
import pandas as pd
url = '456.csv'
dataframe = pd.read_csv(url)
dataframe[dataframe['Ho va Ten']=='Nguyen Thi Thuy Trang'].head(5)

    Stt      MSSV              Ho va Ten  Diem Khoa   Nam
3     4  20104063  Nguyen Thi Thuy Trang   9.7  CKM  2020
14   15  20104036  Nguyen Thi Thuy Trang   7.1  CKM  2021

In [ ]:
import pandas as pd
url = '456.csv'
dataframe = pd.read_csv(url)
dataframe[(dataframe['Khoa']=='CKM') & (dataframe['Nam']==2020) & (dataframe['Diem']>= 9)].head(7)

   Stt      MSSV              Ho va Ten  Diem Khoa   Nam
0    1  20104004         Nguyen Gia Dat   9.2  CKM  2020
1    2  20104049  Nguyen Tran Thanh Nhu   9.5  CKM  2020
2    3  20104028        Truong Quoc Hau   9.6  CKM  2020
3    4  20104063  Nguyen Thi Thuy Trang   9.7  CKM  2020

In [ ]:
import pandas as pd
url = '456.csv'
dataframe = pd.read_csv(url)
dataframe['Khoa'].unique()

array(['CKM'], dtype=object)

In [ ]:
import pandas as pd
url = '456.csv'
dataframe = pd.read_csv(url)
dataframe.drop('Khoa',axis=1).head(5)

   Stt      MSSV              Ho va Ten  Diem   Nam
0    1  20104004         Nguyen Gia Dat   9.2  2020
1    2  20104049  Nguyen Tran Thanh Nhu   9.5  2020
2    3  20104028        Truong Quoc Hau   9.6  2020
3    4  20104063  Nguyen Thi Thuy Trang   9.7  2020
4    5  20104039           Le Khanh Lam   8.8  2020

In [ ]:
import pandas as pd
url = '456.csv'
dataframe = pd.read_csv(url)
dataframe.groupby(dataframe['Diem']>= 8).count()

       Stt  MSSV  Ho va Ten  Diem  Khoa  Nam
Diem
False    4     4          4     4     4    4
True    11    11         11    11    11   11

In [ ]:
import pandas as pd
url = 'medals.csv'
data = pd.read_csv(url)
data. head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
import pandas as pd
url = 'medals.csv'
data = pd.read_csv(url)
data. head(10)
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
import pandas as pd
url = 'medals.csv'
data = pd.read_csv(url)
data[(data['Medal']=='Gold') & (data['NOC']=='USA') & (data['Year']>= 2000)]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
2027,2002,Salt Lake City,Bobsleigh,Bobsleigh,USA,two-man,W,Gold
2028,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,M,Gold
2029,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,W,Gold
2037,2002,Salt Lake City,Skating,Figure skating,USA,individual,W,Gold
2039,2002,Salt Lake City,Skating,Short Track S.,USA,1500m,M,Gold
2043,2002,Salt Lake City,Skating,Speed skating,USA,1000m,W,Gold
2044,2002,Salt Lake City,Skating,Speed skating,USA,1500m,M,Gold
2048,2002,Salt Lake City,Skating,Speed skating,USA,500m,M,Gold
2056,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold
2058,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,W,Gold
2293,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
2295,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
2299,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
2300,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [ ]:
import pandas as pd
url = 'medals.csv'
data = pd.read_csv(url)
data.groupby((data['Medal']=='Gold') & (data['NOC']=='USA') & (data['Year']>= 2000)).count()

       Year  City  Sport  Discipline   NOC  Event  Event gender  Medal
False  2292  2292   2292        2292  2292   2292          2292   2292
True     19    19     19          19    19     19            19     19